* {
    margin: 0;
    padding: 0;
}

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter'
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}

.principal_section {
    background-image: url("img/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh; 
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 0 0 6em; 
    align-items: center;
    text-align: center;
}

.container__botao {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.section2 {
    display: grid;
    direction: rtl;
    grid-template-columns: 50% 50%;
    margin: 0 6em 0 10em;
    height: 100vh; 
    background-image: url(img/Plataformas.png);
    background-repeat: no-repeat;
    background-size: 45%;
    align-items: center;
    text-align: left;
}

.container__titulo2 {
    font-size: 48px;
    font-weight: 700;
    margin-left: 10%;
    margin-bottom: 5px;
}

.container__texto {
    margin-left: 10%;
}

.section3 {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 6em 0 10em;
    height: 100vh; 
    background-image: url(img/Telas.png);
    background-repeat: no-repeat;
    background-size: 45%;
    background-position: right;
    align-items: center;
    text-align: left;
}

.container__texto3 {
    margin-left: 1%;
    margin-bottom: 35px;
}

.container__botao3 {
    background-color: var(--botao-azul);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    text-decoration: none;
    margin-bottom: 1em;
}

.section4 {
    display: grid;
    direction: rtl;
    grid-template-columns: 50% 50%;
    margin: 0 6em 0 8em;
    height: 100vh; 
    background-image: url(img/Notebook.png);
    background-repeat: no-repeat;
    background-size: 50%;
    align-items: center;
    text-align: left;
}

.container__texto4 {
    margin-left: 10%;
    align-items: center;
    padding-bottom: 50%;
}

.titulo_dispositivos {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 45px;
    margin-top: -10%;
    text-align: center;
    margin: 0 25px 25px 25px;
}

.dispositivos {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 25px 25px 25px;
}

.container__dispositivos {
    margin: 1em 0 2em 0;
}

.footer {
    justify-items: center;
    text-align: center;
    margin-top: 13%;
}

.links {
    margin: 0 25px 28px 25px;
    color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px 32px;
}

.link_footer {
    text-decoration: none;
    margin: 8px;
    color: gray;
}

.rights {
    color: gray;
}

.legal {
    font-size: 12px;
    margin-top: 30px;
    margin-bottom: 8%;
    margin-left: 10%;
    margin-right: 10%;
    color: gray;
}

@media (max-width: 1199px) {

    .principal_section {
        grid-template-columns: 1fr;
        margin: 5%;
        height: auto;
        padding-top: 400px;
        background-image: url("img/Background2.png");
        background-size: 70%;
        background-position: top center;
    }
 
    .section2 {
        grid-template-columns: 1fr;
        margin: 0;
        padding-top: 400px;
        height: 550px;
        direction: ltr;
        background-size: 60%;
        background-position: top center;
        text-align: center;
    }
 
    .container__titulo2 {
        font-size: 32px;
        margin-left: 0;
        margin-bottom: 15px;
    }
 
    .container__texto {
        margin-left: 5%;
        margin-right: 5%;
    }
 
    .section3 {
        grid-template-columns: 1fr;
        margin: 0;
        padding-top: 300px;
        height: 400px;
        background-size: 60%;
        background-position: top center;
        text-align: center;
    }
 
    .container__texto3 {
        margin-left: 5%;
        margin-right: 5%;
    }
 
    .section4 {
        grid-template-columns: 1fr;
        margin: 0 0 150px 0;
        padding-top: 300px;
        height: 200px;
        direction: ltr;
        background-size: 60%;
        background-position: top center;
        text-align: center;
    }
 
    .container__texto4 {
        margin-left: 5%;
        margin-right: 5%;
        padding-bottom: 0;
    }
 
    .dispositivos {
        font-size: 32px;
        margin: 0 25px 200px 25px;
    }

    .container__dispositivos {
        width: 90%;
    }
 
    .container__titulo {
        font-size: 24px;
    }

    .titulo_dispositivos {
        font-size: 40px;
    }

 
    .rights {
        margin-left: 1em;
        margin-right: 1em;
    }
 
    .footer {
        margin-top: 5%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
 
@media (max-width: 768px) {
    
    .principal_section {
        grid-template-columns: 1fr;
        margin: 5%;
        height: auto;
        padding-top: 300px;
        background-image: url("img/Background2.png");
        background-size: 70%;
        background-position: top center;
    }
    .section2 {
        grid-template-columns: 1fr;
        margin: 100px 0 0 0;
        padding-top: 200px;
        height: 550px;
        direction: ltr;
        background-size: 60%;
        background-position: top center;
        text-align: center;
    }
    .section3 {
        grid-template-columns: 1fr;
        margin: 0;
        padding-top: 200px;
        height: 300px;
        background-size: 60%;
        background-position: top center;
        text-align: center;
    }
    .section4 {
        grid-template-columns: 1fr;
        margin: 100px 0 150px 0;
        padding-top: 200px;
        height: 200px;
        direction: ltr;
        background-size: 60%;
        background-position: top center;
        text-align: center;
    }
    .titulo_dispositivos {
        font-size: 30px;
        font-weight: 700;
        margin-bottom: 45px;
        margin-top: -10%;
        text-align: center;
        margin: 0 25px 25px 25px;
    }
    .dispositivos {
        margin-bottom: 200px;
    }
    .links {
        margin: 0 20px 28px 20px;
        color: gray;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px 20px;
    }
    .mobile {
        font-size: 20px;
    }
    .footer {
        margin-right: 10px;
        margin-left: 10px;
    }
 
}
 
@media (max-width: 480px) {

    .principal_section {
        grid-template-columns: 1fr;
        margin: 5%;
        height: auto;
        padding-top: 200px;
        background-image: url("img/Background2.png");
        background-size: 70%;
        background-position: top center;
    }
    .section2 {
        grid-template-columns: 1fr;
        margin: 100px 0 0 0;
        padding-top: 100px;
        height: 350px;
        direction: ltr;
        background-size: 60%;
        background-position: top center;
        text-align: center;
    }
    .section3 {
        grid-template-columns: 1fr;
        margin: 0;
        padding-top: 100px;
        height: 300px;
        background-size: 60%;
        background-position: top center;
        text-align: center;
    }
    .section4 {
        grid-template-columns: 1fr;
        margin: 50px 0 100px 0;
        padding-top: 100px;
        height: 200px;
        direction: ltr;
        background-size: 60%;
        background-position: top center;
        text-align: center;
    }
    .titulo_dispositivos {
        font-size: 25px;
        font-weight: 700;
        margin-bottom: 45px;
        margin-top: -10%;
        text-align: center;
        margin: 0 25px 25px 25px;
    }
    .dispositivos {
        margin-bottom: 100px;
    }

    .footer {
        margin-right: 5px;
        margin-left: 5px;
    }
    
    .mobile {
        font-size: 16px;
    }
    
}